.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  padding: 5rem;
  min-height: 100vh;
}

.container {
  width: 500px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem 0;
  padding: 0.5rem;
  width: 500px;
}

.nav div {
  cursor: pointer;
}

.h1 {
  text-align: center;
}