.item {
    width: 470px;
    border-radius: 1rem;
    border-left: 0.5rem solid yellow; 
    margin: 1rem;
    background-color: #98D7C2;
  }

.icons {
    display: flex;
    gap: 1rem;
}

.icon {
  cursor: pointer;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}